.prod {
    border: 2px solid rgb(243, 242, 242);
    border-radius: 10px 10px 0 0;
    height: 40vh;
    margin: 20px 10px;
    overflow: hidden;
    width: 30%;
}

.prod-browser {
    align-items: center;
    background-color: rgb(243, 242, 242);
    display: flex;
    height: 20px;
    position: sticky;
    z-index: 2;
}

.prod-circle {
    background-color: white;
    border-radius: 50%;
    height: 6px;
    margin: 3px;
    width: 6px;
}

.prod-img {
    transition: all 10s ease;
    width: 100%;
}

.prod:hover .prod-img {
    transform: translateY(-100%);
}

@media screen and (max-width: 480px) {
    .prod {
        height: 20vh;
        width: 40%;
    }
}